home/.config/*

!home/.config/fish
!home/.config/nvim
!home/.config/omf
!home/.config/tmuxinator

home/.floo
home/.floorc
home/.floorc.json

home/.gitconfig

home/config

tags*


home/.ssh/*


# fish universal variables are machine-local state, not config
home/.config/fish/fish_variables

# Machine-local secrets, never commit
home/.config/fish/secrets.fish
